## Project Explanation
This project aims to collect user expenses from user and calculate some results, e.g total expenses, average of the expenses, min and max expenses, to make an analysis about budget plans. 
Python Topics: 
Functions,
For loops,
Built-in functions: sum(),len(), max(), min()
*args 
try-except

## get_expenses Function

In [3]:
expenseNum = int(input("How many expenses will you enter?"))
expenses = []
def get_expenses():
    try:
        
            
        for i in range(1, expenseNum + 1):
            expense = float(input(f"Enter expense {i}:"))
            expenses.append(expense)
    except:
        print("Please enter a number")

get_expenses()

How many expenses will you enter? 3
Enter expense 1 2
Enter expense 2 45
Enter expense 3 35

## calculate_summary Function

In [20]:
def calculate_summary(expenses):
    total = 0
    average = 0
    
    for i in expenses:
        total += i

    average = float(round(total / len(expenses)))
    print(f"Total: {total} TL")
    return f"Average: {average} TL"

calculate_summary(expenses)

Total: 82.0

'Average: 27.0'

## flexible_total Function

In [17]:
def flexible_total(*args):
    totalSum = int(sum(args))
    print(f"Number of expenses: {len(args)}")
    return (f"Total Sum: {totalSum}")

flexible_total(*expenses)  ## listeyi liste olarak değil açarak gönder: "*"

Number of expenses: 3

'Total Sum: 82'

## find_extremes Function

In [19]:
def find_extremes(expensesList):
    maxExpense = max(expensesList)
    minExpense = min(expensesList)
    return (f"Min Expense: {minExpense} TL, Max Expense: {maxExpense} TL")

find_extremes(expenses)

'Min Expense: 2.0, Max Expense: 45.0'

## Scope
Reading and printing global variable is possible (try_global_variable and currency)
Changing was not possible. It changed only in one code block: directly after calling.
But the actual value was still TL: print(f"Still TL or Euro? {currency2}").
Global variable can not be changed without the word "global"

In [2]:
##Reading global variable - works
currency = "TL"
def try_global_variable():
    print(f"Global variable? -> {currency}")

try_global_variable()

Global variable? -> TL

In [4]:
##Changing global variable - error
currency2 = "TL"
def try_global_variable2():
    currency2 = "Euro"
    print(f"Global variable? -> {currency2}")

try_global_variable2()

Global variable? -> Euro

In [5]:
print(f"Still TL or Euro? {currency2}")

Still TL or Euro? TL

## Final Result

In [22]:
calculate_summary(expenses)
find_extremes(expenses)

Total: 82.0

'Min Expense: 2.0, Max Expense: 45.0'